### Práctica de Acceso a bases de datos

Considerar la gestión de la información de una librería. Para ello se utilizará una base de datos con las siguientes tablas:

Tabla Compradores:

Columna | Tipo | Nulos | Defectos | Clave-Pri | Únicos
-- | --
registro| INT(4)| No|  | Sí | Sí
nombre| VARCHAR(35)| No|  ' '|  | Sí
fecha_nacimiento| DATE| No|000-00-00  |  | 
teléfono| VARCHAR(10)| Sí| NULL |  | 
domicilio| VARCHAR(35)| Sí|NULL  |  | 
población| VARCHAR(25)| Sí|NULL  |  | 
anotaciones| TEXT| | |  | 

Tabla Libros:

Columna | Tipo | Nulos | Defectos | Clave-Pri | Únicos
-- | --
registro| INT(4)| No|  | Sí | Sí
título| VARCHAR(35)| No|  ' '|  | Sí
escritor| VARCHAR(35)| No|  ' '|  | 
editorial | VARCHAR(20)| No|  ' '|  | 
soporte| VARCHAR(35)| No|  'Libro '|  | 
fecha_entrada| DATE| No|NULL |  | 
país| VARCHAR(20)| No| 0000-00-00 |  |Sí
importe| DECIMAL(8,2)| No|0.0  |  | 
anotaciones| BLOB| | |  | 

Tabla Compras:

Columna | Tipo | Nulos | Defectos | Clave-Pri | Únicos
-- | --
registro| INT(4)| No|  | Sí | Sí
id_comprador| INT(4)| No|  ' '|  | 
id_libro| INT(4)| No|  ' '|  | 


En esta tabla se asocian mediante los campos registro de la tabla libros y la tabla compradores en los campos id_libro y id_comprador respectivamente, las compras que se han realizado los clientes. 

Se pide:
1.  Crear un programa en Python que genere utilizando SQLite una base de datos denominada “Libreria”  y 3 tablas: compradores, libros y compras[1,5 puntos].
2.  Crear un programa en Python que rellene las tablas anteriores con los siguientes datos [1 punto]:
Registros de la tabla Compradores

registro| nombre | fecha_nacimiento | teléfono | domicilio | población |anotaciones
-- | --
1 | Juan Miedo | 1955-10-23 | 608900890 | La isla del tesoro,33 | Getafe | Buen comprador
2 | Pepe Pepino | 1961-12-13 | 607899005 | Plaza Mayor,56 | Pozuelo |
3 | Peper Mur | 1976-04-02 | 917895679 | Esparteros, 5 | Getafe | 
4 | Mohamed Alí | 1968-11-12 | 609440567 | Juan sin miedo,4 | Pozuelo | Le gusta la ciencia ficción
5 | Alfredo Mesa | 1986-08-17| 690890456 | Gran vía,56 | Getafe | Le gustan los ensayos
6 | Pedro Reyes | 1957-08-25 | 917890056| Plaza de España, 34 | Pozuelo | Le gusta la historia
7 | Isabel Olvido | 1977-07-20 | 915678900 | Principal,3 | Getafe | Le gusta la novela de amor
8 | Mariano Calcetines | 1996-11-09 | 634567876 | Aviación,34 | Getafe | 
9 | María Calero | 1984-11-08 | 645666900 | Río Ebro,4 | Las rozas |


Registros de la tabla Libros

registro| título | escritor | editorial | soporte | fecha_entrada| país | importe|anotaciones
-- | --
1 | El Quijote | Miguel de Cervantes | Alianza | Libro| 1988-06-11| España| 12| NULL
2 | Marina | Carlos Ruíz Zafón | Edebé | CD| 1988-06-11| España| 18.95| NULL
3 | La hoguera de las vanidades | Tom Wolfe | RBA editores | DVD| 1988-06-11| USA| 22.25| NULL
4 | Los pilares de la Tierra | Ken Follet| Faber | Libro| 1988-06-11| USA| 12.95| NULL
5 | Otelo | William Shakespeare | Anaya | Libro| 1988-06-11| Inglaterra| 14.95| NULL
6 | Rimas y Leyendas | Gustavo Adolfo Becquer | Roca | Libro| 1988-06-11| España| 25.95| NULL
7 | Poesía | Juan Ramón Jiménez | P&J | Libro| 1988-06-11| España| 10.95| NULL

Registros de la tabla Compras

registro| id_comprador | id_libro
--|--
1 | 9| 7
2 | 9| 3
3 | 8| 2
4 | 7| 1
5 | 8| 1
6 | 1| 1
7 | 7| 1
8 | 6| 2
9 | 3| 5
10 | 3| 1
11 | 3| 2

3.Crear un programa en Python que resuelva las siguientes consultas SQL [7,5 puntos]. Se debe mostrar por pantalla el resultado de cada consulta:
 
   * Obtener los países y el número de libros vendidos agrupados por país y ordenados de manera descendente respecto al total de ventas.

   * Obtener el nombre de los compradores que han comprado al menos un libro y número de libros comprados, ordenados decrecientemente por el número total de libros comprados.

   * Obtener la media de lo que han gastado todos los compradores y la suma total de todas las ventas realizadas.

   * Obtener el nombre, teléfono y anotaciones de las filas de la tabla Compradores dónde el nombre del comprador empieza con la letra “M”.

   * Actualizar la tabla Libros, cambiando el soporte de los registros 6 y 7 a “DVD”.

   * Borrar los libros que no se han vendido nunca.

#### Normas de entrega

* Fecha tope de entrega: 10/11/2017
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.

In [20]:
def clear_db(cur):
    cur.execute("DROP TABLE IF EXISTS Libros")
    cur.execute("DROP TABLE IF EXISTS Compradores")
    cur.execute("DROP TABLE IF EXISTS Compras")

def create_db(cur):
    cur.execute("""
        CREATE TABLE Compradores(
            registro INTEGER(4) PRIMARY KEY NOT NULL UNIQUE,
            nombre VARCHAR(35) NOT NULL DEFAULT '',
            fecha_nacimiento DATE NOT NULL DEFAULT '0000-00-00',
            telefono VARCHAR(10) DEFAULT NULL,
            domicilio  VARCHAR(35) DEFAULT NULL,
            poblacion  VARCHAR(25) DEFAULT NULL,
            anotaciones  TEXT
            )""")
    
    cur.execute("""
        CREATE TABLE Libros(
            registro INTEGER(4) PRIMARY KEY NOT NULL UNIQUE,
            titulo VARCHAR(35) NOT NULL DEFAULT '' UNIQUE,
            escritor VARCHAR(35) NOT NULL DEFAULT '',
            editorial VARCHAR(20) NOT NULL DEFAULT '',
            soporte VARCHAR(35) NOT NULL DEFAULT 'LIBRO',
            fecha_entrada DATE NOT NULL DEFAULT '0000-00-00' UNIQUE,
            pais VARCHAR(20) NOT NULL DEFAULT '',
            importe DECIMAL(8,2) NOT NULL DEFAULT 0.0,
            anotaciones BLOB
            )""")
    
    cur.execute("""
        CREATE TABLE Compras(
            registro INTEGER(4) PRIMARY KEY NOT NULL UNIQUE,
            id_comprador INTEGER(4) NOT NULL DEFAULT '',
            id_libro INTEGER(4) NOT NULL DEFAULT ''
            )""")

def fill_db(cur):
    list_buyers = [(1,'Juan Miedo','1955-10-23','608900890','La isla del tesoro,33','Getafe','Buen comprador'),
                        (2,'Pepe Pepino','1961-12-13','607899005','Plaza Mayor,56','Pozuelo',''),
                        (3,'Pepe Mur','1976-04-02','917895679','Esparteros,5','Getafe',''),
                        (4,'Mohamed Alí','1968-11-12','609440567','Juan sin miedo,4','Pozuelo','Le gusta la ciencia ficción'),
                        (5,'Alfredo Mesa','1986-08-17','690890456','Gran vía,56','Getafe','Le gustan los ensayos'),
                        (6,'Pedro Reyes','1957-08-25','917890056','Plaza de España,34','Pozuelo','Le gusta la historia'),
                        (7,'Isabel Olvido','1977-07-20','915678900','Principal,3','Getafe','Le gusta la novela de terror'),
                        (8,'Mariano Calcetines','1996-11-09','634567876','Aviación,34','Getafe',''),
                        (9,'María Calero','1984-11-08','645666900','Río Ebro,4','Las Rozas','') ]

    list_books = [(1,'El Quijote', 'Miguel de Cervantes','Alianza','LIBRO','1988-06-11','España',12),
                    (2,'Marina', 'Carlos Ruiz Zafón','Edebé','CD','2003-05-10','España',18.95),
                    (3,'La hoguera de las vanidades','Tom Wolfe','RBA editores','DVD','2005-11-09','USA',22.25),
                    (4,'Los pilares de la Tierra','Ken Follet','Faber','LIBRO','2014-12-01','USA',12.95),
                    (5,'Otelo',u'William Shakespeare','Anaya','LIBRO','2013-04-11','Inglaterra',14.95),
                    (6,'Rimas y Leyendas','Gustavo Adolfo Becquer','Roca','LIBRO','2008-01-08','España',25.95),
                    (7,'Poesía','Juan Ramón Jimenez','P&J','LIBRO','2002-04-07','España',10.95)]
    
    list_sales = [(1,9,7), (2,9,3), (3,8,2), (4,7,1), (5,8,1), (6,1,1), (7,7,1), (8,6,2), (9,3,5), (10,3,1), (11,3,2)]

    cur.executemany("INSERT INTO Compradores (registro, nombre, fecha_nacimiento, telefono, domicilio, poblacion, anotaciones) VALUES ( ?, ?, ?, ?, ?, ? ,?) ",list_buyers)
    cur.executemany("INSERT INTO Libros (registro, titulo, escritor, editorial, soporte, fecha_entrada, pais, importe) VALUES ( ?, ?, ?, ? ,?, ? ,?, ?) ", list_books)
    cur.executemany("INSERT INTO Compras (registro, id_comprador, id_libro) VALUES ( ?, ?, ?) ",list_sales)

# CONSULTA 1
def number_books_country(cur):
    print("CONSULTA 1")
    cur.execute("""
        SELECT pais, COUNT(pais) AS numero_libros, SUM(importe) AS total_importe
            FROM Libros lib,Compras com
            WHERE lib.registro=com.id_libro
            GROUP BY pais
            ORDER BY total_importe DESC
            """)
    
    # Así es como lo muestro
    print ("PAÍS".ljust(20), "LIBROS".ljust(20), "IMPORTE".ljust(20))
    for (country, books,import_) in cur.fetchall():
        print (str(country).ljust(20),str(books).ljust(20),str(import_).ljust(20))
        
# CONSULTA 2
def buyers_ranking(cur):
    print("\nCONSULTA 2")
    cur.execute("""
        SELECT nombre, count(*) AS numeroLibros
            FROM Compras, Compradores
            WHERE Compras.id_comprador = Compradores.registro
            GROUP BY nombre
            ORDER BY numeroLibros DESC
            """)
    
    print ("NOMBRE".ljust(20), "NÚMERO DE LIBROS".ljust(20))
           
    for (name, num_books) in cur.fetchall():
        print (name.ljust(20), str(num_books).ljust(20))
    print("\n")

# CONSULTA 3
def sales_avg(cur):
    print("\nCONSULTA 2")
    cur.execute("""
        SELECT SUM(importe)
        FROM Libros, Compras
        WHERE Libros.registro == Compras.id_libro""")
    
    for (suma) in cur.fetchall():
        sumTotal = suma
    
    cur.execute("""
        SELECT COUNT(registro)
        FROM Compradores""")
    
    for(count) in cur.fetchall():
        num_buyers = count
    avg = sumTotal[0] / num_buyers[0]
    
    print ("Suma Total: ",sumTotal[0])
    print ("Media por cliente:", avg)

# ---------------------------------------------------
#CONSULTA 4
def numeroLibrosPorPais(cur):
    
    cur.execute("""
        SELECT pais, COUNT(pais) AS numero_libros, SUM(importe) AS total_importe
            FROM Libros l,Compras c
            WHERE l.registro=c.id_libro
            GROUP BY pais
            ORDER BY total_importe DESC
            """)
    print ("########### Numero de libros por pais. Ordenados de manera descendente en cuanto a las ventas ###########")
    print ("Pais:\t\t\t\tNum libros:\t\t\tTotal ganado:")
           
    for (pais, libros,importe) in cur.fetchall():
        print (pais,"\t\t\t\t",libros,"\t\t\t\t",importe)

def actualizaLibros(cur):
    #Mostramos como es antes de actualizar los registros
    print ("Antes de actualizar Libros:")
    print ("Registro:\t\tSoporte:")
    cur.execute("SELECT registro,soporte FROM Libros")
    for (registro, soporte) in cur.fetchall():
        print (registro,"\t\t\t", soporte)
    #Actualizamos
    cur.execute("UPDATE Libros set soporte='DVD' where registro=6 or registro=7")
    #Mostramos despues de actualizar los registros
    print ("Despues de actualizar Libros:")
    print ("Registro:\t\tSoporte:")
    cur.execute("SELECT registro,soporte FROM Libros")
    for (registro, soporte) in cur.fetchall():
        print (registro,"\t\t\t", soporte)

#CONSULTA 5
def datosCompradoresM(cur):
    cur.execute("""
        SELECT nombre,telefono,anotaciones
        FROM Compradores
        WHERE nombre LIKE 'M%'
        """)
    print ("Nombre:".ljust(20), "Teléfono:".ljust(20), "Anotaciones:".ljust(20))
    for (nombre,tlfn,anot) in cur.fetchall():
        print(nombre.ljust(20), tlfn.ljust(20), anot.ljust(20))
    print("\n")
    
#CONSULTA 6
def borrarLibros(cur):
    cur.execute("""
        DELETE FROM Libros
        WHERE registro NOT IN (
            SELECT id_libro
            FROM Compras)""")
            
            
            
            
    print ("NOMBRE:".ljust(20), "TELÉFONO:".ljust(20), "ANOTACIONES:".ljust(20))
    for (nombre,tlfn,anot) in cur.fetchall():
        print (nombre.ljust(20), tlfn.ljust(20), anot.ljust(20))
    print("\n")

In [21]:
import sqlite3

conx = sqlite3.connect("Libreria.sqlite3")
cur = conx.cursor()

# Ejercicio 1
clear_db(cur)
create_db(cur)
conx.commit()

# Ejercicio 2
fill_db(cur)
conx.commit()

# Ejercicio 3

# Consulta 1
number_books_country(cur)
# Consulta 2
buyers_ranking(cur)
# Consulta 3
sales_avg(cur)

conx.commit()

cur.close()

CONSULTA 1
PAÍS                 LIBROS               IMPORTE
España               9                    127.80000000000001
USA                  1                    22.25
Inglaterra           1                    14.95

CONSULTA 2
NOMBRE               NÚMERO DE LIBROS
Pepe Mur             3
Isabel Olvido        2
Mariano Calcetines   2
María Calero         2
Juan Miedo           1
Pedro Reyes          1


Suma Total:  165.0
Media por cliente: 18.333333333333332